body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  background-color: #C1FFD7;
}
p
{
  margin-top:70px;
  position: relative;
  margin-left: 40px;
}
h1 {
  font-family: 'Carattere', cursive;
  font-size: 5.62rem;
   color:#66BFBF;


}
h2
{
  font-size: 2.5rem;
   color:#66BFBF;
}
.in
{ font-weight:normal;
  font-size: 30px;
  position: relative;
  margin-left: 20px;
}

/*margin:0;*/
.ab {
  background-color: #C1FFD7;
  position: relative;
  padding-top: 100px;
}

hr {
  border-top: 5px dotted black;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 5%;
}

.pic {
  width: 200px;
  height: 200px;
  margin-top: 100px;
}

.ski {
  width: 200px;
  height: 200px;
}

.cyc {
  width: 200px;
  height: 200px;
}



.top {}

.bottom {}

.b {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  bottom: 300px;
  left: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
